.matrixContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.matrixRow {
  display: flex;
}

.matrixCell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  flex: 1;
  min-width: 100px;
}

.header {
  font-weight: bold;
}
